.HomePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
section {
	width: 1000px;
	display: flex;
}

/* _______________________________________________________________0------------------------- */

.HomePage-body {
	/* width: 100%;
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	justify-content: center;
	align-items: center;
	gap: 1.5em; */
	display: flex;
	gap: 1.5rem;
}
.HomePage-body__profile {
	flex: 0.5;
}
.HomePage-body__feed {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 5px;
	/* height: 1000vh; */
}
.feed-post {
	display: flex;
	gap: 0.4rem;
}

.feed-post__input {
	display: flex;
	gap: 0.5rem;
	justify-content: space-around;
}
.feed-post__inputBox {
	flex: 1;
	height: 50px;
	border: 1px solid gray;
	border-radius: 40px;
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.feed-post__other {
	display: flex;
	justify-content: space-around;
	padding: 10 px;
	color: rgb(216, 8, 42);
}
.feed-post__other div {
	display: flex;
	justify-content: center;
}
.dividor {
	border-bottom: 1px solid gray;
	width: 100%;
	margin-bottom: 10px;
}

.HomePage-body__recomend {
	flex: 0.25;
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* 


---------------------------

*/
